
<div class="row">
  <div class="offset-4 col-md-4">
      <h3 class='text-center'>
        <%= @admin.name %>
      </h3>
      <h3 class='text-center'>
        <%= @admin.email %>
      </h3>
  </div>
</div>
<button><%= link_to "Upload New File", new_browse_path %></button>
